
body{
    background-color: black;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.form-group{
    align-items: center;
}
.icindekiler{
    background-color: rgb(255, 255, 255);
}

.passwordrules{
    text-decoration: underline;
    color: rgba(46, 46, 109, 0.418);
}

@media only screen and (max-width:990px){

    .imgRegister{display: none;

    }
    .icindekiler{
        background-color:black
    }
   .registerText{
    color: #fff;
   }
}