.category{

    padding: 30px;

}

#category{
    background-color: #1E1E1E;
    color: #ffff;
    
}

.category1{
    background-color: #1E1E1E;
    color: #ffff;
    padding-left:50px ;
    padding-top: 20px;
    
}

